<div class="lg:flex intro-y">
  <div class="relative -intro-x">
    <input type="text" class="input input--lg w-full lg:w-64 box pr-10 placeholder-theme-13" placeholder="Search item...">
    <i class="material-icons search__icon absolute inset-y-0">search</i>
  </div>
  <select class="input input--lg box w-full lg:w-auto mt-3 lg:mt-0 ml-auto -intro-x">
    <option>Sort By</option>
    <option>A to Z</option>
    <option>Z to A</option>
    <option>Lowest Price</option>
    <option>Highest Price</option>
  </select>
</div>
