<div class="top-bar">
  <!-- BEGIN: Breadcrumb -->
  <app-breadcrumb class="mr-auto"></app-breadcrumb>
  <!-- END: Breadcrumb -->
  <!-- BEGIN: Search -->
  <div class="flex items-center">
    <div class="intro-x relative mr-3 sm:mr-6">
        <div class="search hidden sm:block">
          <input type="text" class="search__input input placeholder-theme-13" placeholder="Search...">
          <i class="material-icons search__icon absolute">search</i>
        </div>
    </div>
    <!-- END: Search -->
    <!-- BEGIN: Shopping-cart -->
    <div class="intro-x dropdown relative mr-auto sm:mr-6">
      <div class="shopping-cart shopping-cart--bullet cursor-pointer flex align-center">
        <i class="material-icons">shopping_cart</i>
      </div>
    </div>
    <!-- END: Shopping-cart -->
    <!-- BEGIN: Account Menu -->
    <div class="intro-x dropdown w-8 h-8 relative">
        <div class="w-8 h-8 rounded-full overflow-hidden shadow-lg image-fit zoom-in">
          <img alt="Jonathan Alcántara" src="https://pbs.twimg.com/profile_images/1305523485750579200/iTA80rdo_400x400.jpg">
        </div>
    </div>
  </div>
  <!-- END: Account Menu -->
</div>
