<div class="intro-y flex flex-col sm:flex-row items-center mt-8">
  <h2 class="text-lg font-medium mr-auto">
    Point of Sale
  </h2>
  <div class="w-full sm:w-auto flex mt-4 sm:mt-0 gap-2">
    <button
      (click)="openOrderForm()"
      class="-intro-x bg-gradient-to-r button duration-300 from-purple-600 hover:from-purple-500 hover:to-purple-600 shadow-md text-white to-purple-700">
      New Order
    </button>
    <div class="-intro-x pos-dropdown dropdown relative ml-auto sm:ml-0">
      <button class="dropdown-toggle button px-2 box text-gray-700" [contextMenu]="ticketMenu">
        <span class="w-5 h-5 flex items-center justify-center"> <i class="material-icons">expand_more</i> </span>
      </button>
    </div>
  </div>
</div>

<ng-template #ticketMenu>
  <div @enterContextualMenu class="pos-dropdown__dropdown-box dropdown-box">
    <div class="dropdown-box__content box p-2">
      <a
        *ngFor="let booking of bookingList$ | async"
        class="flex items-center p-2 transition duration-300 ease-in-out bg-white hover:bg-gray-200 rounded-md cursor-pointer"
        (click)="selectBooking(booking.bookingId)">
        <i class="material-icons">show_chart</i>
        <span class="truncate">{{ booking.bookingInfo }}</span>
      </a>
    </div>
  </div>
</ng-template>

<div class="pos intro-y grid grid-cols-12 gap-5 mt-5" [formGroup]="filtersAndOrder">
  <div class="intro-y col-span-12 lg:col-span-8">
    <app-product-filters formControlName="searchAndOrder"></app-product-filters>
    <app-product-type-selection formControlName="filters"></app-product-type-selection>
    <app-product-grid
      [productList]="(productList$ | async) | productFilter:(filter$ | async)"
      (addItemTicket)="addProductTicket($event)">
    </app-product-grid>
  </div>

  <div class="col-span-12 lg:col-span-4">
    <app-right-widget></app-right-widget>
  </div>
</div>

