<div class="intro-y flex flex-col sm:flex-row items-center mt-8">
  <h2 class="text-lg font-medium mr-auto">
    Point of Sale
  </h2>
  <div class="w-full sm:w-auto flex mt-4 sm:mt-0 gap-2">
    <button class="-intro-x bg-gradient-to-r button duration-300 from-purple-600 hover:from-purple-500 hover:to-purple-600 shadow-md text-white to-purple-700">New Order</button>
    <div class="-intro-x pos-dropdown dropdown relative ml-auto sm:ml-0">
      <button class="dropdown-toggle button px-2 box text-gray-700">
        <span class="w-5 h-5 flex items-center justify-center"> <i class="material-icons">expand_more</i> </span>
      </button>
    </div>
  </div>
</div>

<div class="pos intro-y grid grid-cols-12 gap-5 mt-5">
  <div class="intro-y col-span-12 lg:col-span-8">
    <app-product-filters></app-product-filters>
    <app-product-type-selection [formControl]="filters"></app-product-type-selection>
    <app-product-grid
      [productList]="productList | productFilter:filters.value"
      (addItemTicket)="addProductTicket($event)">
    </app-product-grid>
  </div>

  <div class="col-span-12 lg:col-span-4">
    <app-right-widget></app-right-widget>
  </div>
</div>

